---
layout: simple-layout
css: pages/chart-settings/index.css
js: pages/chart-settings/index.js
---
{% from src + '/pages/chart-settings/chart-card.njk' import chartCard %}

<header class="app-header-wrapper">
  {% include src + '/common/atoms/brand-stripe.njk' %}
  <nav class="nav app-header">
    <div class="nav-left">
      <div class="nav-item">
        <a href="../document-settings/index.html">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
    <div class="nav-center">
      <div class="nav-item">
        <h1><strong class="t-text">app.edit_chart_of_accounts</strong></h1>
      </div>
    </div>
    <div class="nav-right">
      <div class="nav-item app-menu-btn">
        <i class="fa fa-reorder"></i>
      </div>
    </div>
  </nav>
  {% include src + '/common/molecules/app-menu-dropdown.njk' %}
</header>

<main class="l-main chart-settings-page is-model-observer">
  <div class="section">
    <div class="container">
      <h2 class="title t-text">domain.chart_of_accounts</h2>
      {{ chartCard('ASSET', 'diamond', '<t>domain.assets</t>') }}<br />
      {{ chartCard('LIABILITY', 'bank', '<t>domain.liabilities</t>') }}<br />
      {{ chartCard('EQUITY', 'gift', '<t>domain.equity</t>') }}<br />
      {{ chartCard('REVENUE', 'thumbs-o-up', '<t>domain.revenues</t>') }}<br />
      {{ chartCard('EXPENSE', 'fire', '<t>domain.expenses</t>') }}<br />
      <div class="section">
        <a href="../document-settings/index.html" class="button is-primary is-wide">
          <i class="fa fa-check"></i>&nbsp;
          <t>ui.form.finish_editing</t>
        </a>
      </div>
      <div class="box">
        <t>app.save_this_chart_as_the_default_chart</t>
        <hr />
        <a href="../chart-settings/index.html" class="button is-primary is-wide">
          <i class="fa fa-copy"></i>&nbsp;
          <t>ui.form.save</t>
        </a>
      </div>
    </div>
  </div>

  <div
    class="popper edit-chart-tooltip"
    data-popper-placement="bottom-start"
    data-popper-modifiers='{"flip":{"enabled": false}}'
    >
    <div class="content">
      <p class="edit-chart-tooltip__message"></p>
      <p>
        <button class="button edit-chart-tooltip__edit-button is-primary">EDIT</button>
        <button class="button edit-chart-tooltip__delete-button is-danger">DELETE</button>
      </p>
    </div>
  </div>
</main>

