.app-menu-dropdown {
  $bg-color: $white;

  position: absolute;
  top: 56px;
  right: 6px;
  padding: 5px 18px;
  border-radius: 8px;
  border: solid 1px $dark-gray;
  background-color: $very-light-gray;
  background-color: $bg-color;
  font-size: 18px;
  text-align: right;
  transition-duration: 500ms;
  display: none;
  opacity: 0;
  transform: translate(0, -10px);
  z-index: 12;

  & ul li a {
    width: 100%;
  }

  & ul li {
    padding-top: 14px;
  }

  & ul li:last-child {
    padding-bottom: 14px;
  }

  &.is-visible {
    opacity: 1;
    transform: translate(0, 0);
  }

  &::before {
    position: absolute;
    top: -8px;
    right: 12px;
    content: '';
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: $dark-gray transparent;
  }

  &::after {
    position: absolute;
    top: -6px;
    right: 12px;
    content: '';
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: $bg-color transparent;
  }
}
