<div class="app-menu-dropdown">
  <ul>
    <li>
      <a class="button" href="{{ basepath }}/pages/app-settings/index.html">
        <span class="icon"><i class="fa fa-cog"></i></span>
        <span><t>app.menu.app_settings</t></span>
      </a>
    </li>
    <li>
      <a class="button" href="{{ reviewUrl }}">
        <span class="icon"><i class="fa fa-thumbs-o-up"></i></span>
        <span><t>app.menu.review_app</t></span>
      </a>
    </li>
    <li>
      <a class="button" href="{{ basepath }}/pages/new/index.html">
        <span class="icon"><i class="fa fa-plus"></i></span>
        <span><t>app.menu.create_new_journal</t></span>
      </a>
    </li>
    <li>
      <a class="button" href="{{ basepath }}/pages/export/index.html">
        <span class="icon"><i class="fa fa-download"></i></span>
        <span><t>app.menu.export</t></span>
      </a>
    </li>
    <!-- li><a class="t-text t-attr" href="t:app.url.help">app.menu.review_app</a -->
  </ul>
</div>
