.input-modal {
  box-sizing: border-box;
  position: relative;
  width: calc(100vw - 32px);
  padding: 16px;
  z-index: 100;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px black;

  &__button-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
}

.input-modal-overlay {
  box-sizing: border-box;
  visibility: hidden;
  transition: visibility 200ms linear, opacity 200ms linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 100;

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
}

