<div class="input-modal-overlay">
  <div class="input-modal">
    <div class="container">
      <div class="content">
        <p class="input-modal__message"></p>
        <div class="field">
          <div class="control">
            <input class="input-modal__input input" placeholder="Input" />
          </div>
        </div>
        <div class="input-modal__button-wrapper">
          <button class="input-modal__save button is-primary u-ml8 t-text">ui.form.save</button>
          <button class="input-modal__delete button is-danger u-ml8 t-text">ui.form.delete</button>
          <button class="input-modal__cancel button t-text">ui.form.cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
