<div class="input-modal-overlay is-visible">
  <div class="input-modal">
    <div class="container">
      <div class="field">
        <div class="control">
          <input class="input" placeholder="Input here" />
        </div>
      </div>
      <div class="input-modal__button-wrapper">
        <button class="button is-primary">SAVE</button>
      </div>
    </div>
  </div>
</div>
