{% macro chartCard(type, iconType, title) %}
<div class="card chart-card is-model-observer" type="{{ type }}">
  <header class="card-header">
    <p class="card-header-title"><i class="fa fa-{{ iconType }}"></i>&nbsp;{{ title | safe }}</p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
{% endmacro %}
