---
layout: simple-layout
css: pages/edit-chart-of-accounts/index.css
---

<header class="app-header-wrapper">
  {% include src + '/common/atoms/brand-stripe.njk' %}
  <nav class="nav app-header">
    <div class="nav-center">
      <div class="nav-item">
        <h1><strong class="t-text">app.edit_chart_of_accounts</strong></h1>
      </div>
    </div>
  </nav>
</header>

<main class="l-main">
  <div class="section">
    <div class="container">

<h2 class="title t-text">domain.chart_of_accounts</h2>

<div class="card">
  <header class="card-header">
    <p class="card-header-title"><i class="fa fa-diamond"></i>&nbsp;<t>domain.assets</t></p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr><td>Cash
        <tr><td>Accounts Payable
        <tr><td>Land
        <tr><td>Equipment
      </table>
    </div>
  </div>
</div>
<br />

<div class="card">
  <header class="card-header">
    <p class="card-header-title"><i class="fa fa-bank"></i>&nbsp;<t>domain.liabilities</t></p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr><td><a class="nav-itme" href="#">Loans Payable</a>
        <tr><td><a class="nav-itme" href="#">Accounts Payable</a>
        <tr><td><a class="nav-itme" href="#">Bonds Payable</a>
      </table>
    </div>
  </div>
</div>
<br />

<div class="card">
  <header class="card-header">
    <p class="card-header-title"><i class="fa fa-gift"></i>&nbsp;<t>domain.equity</t></p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr><td><a class="nav-itme" href="#">Common Stock</a>
        <tr><td><a class="nav-itme" href="#">Retained Earnings</a>
      </table>
    </div>
  </div>
</div>
<br />

<div class="card">
  <header class="card-header">
    <p class="card-header-title"><i class="fa fa-thumbs-o-up"></i>&nbsp;<t>domain.revenues</t></p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr><td><a class="nav-itme" href="#">Sales</a>
      </table>
    </div>
  </div>
</div>
<br />

<div class="card">
  <header class="card-header">
    <p class="card-header-title"><i class="fa fa-fire"></i>&nbsp;<t>domain.expenses</t></p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr><td><a class="nav-itme" href="#">Travel Expenses</a>
      </table>
    </div>
  </div>
</div>
<br />

<div class="box">
  上記の内容をデフォルトの勘定科目一覧として保存する
  <hr />
  <a href="../edit-chart-of-accounts/index.html" class="button is-primary is-wide t-text">
    ui.form.save
  </a>
</div>

    </div>
  </div>
</main>

