---
layout: simple-layout
css: pages/edit-chart-of-accounts/index.css
---

<header class="app-header-wrapper">
  {% include src + '/common/atoms/brand-stripe.njk' %}
  <nav class="nav app-header">
    <div class="nav-left">
      <div class="nav-item">
        <a href="../settings/index.html">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
    <div class="nav-center">
      <div class="nav-item">
        <h1><strong class="t-text">app.edit_chart_of_accounts</strong></h1>
      </div>
    </div>
    <div class="nav-right">
      <div class="nav-item app-menu-btn">
        <i class="fa fa-reorder"></i>
      </div>
    </div>
  </nav>
  {% include src + '/common/molecules/app-menu-dropdown.njk' %}
</header>

<main class="l-main">
  <div class="section">
    <div class="container">

<h2 class="title t-text">domain.chart_of_accounts</h2>

<div class="card">
  <header class="card-header">
    <p class="card-header-title"><i class="fa fa-diamond"></i>&nbsp;<t>domain.assets</t></p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr><td>Cash
        <tr><td>Accounts Payable
        <tr><td>Land
        <tr><td>Equipment
      </table>
    </div>
  </div>
</div>
<br />

<div class="card">
  <header class="card-header">
    <p class="card-header-title"><i class="fa fa-bank"></i>&nbsp;<t>domain.liabilities</t></p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr><td><a class="nav-itme" href="#">Loans Payable</a>
        <tr><td><a class="nav-itme" href="#">Accounts Payable</a>
        <tr><td><a class="nav-itme" href="#">Bonds Payable</a>
      </table>
    </div>
  </div>
</div>
<br />

<div class="card">
  <header class="card-header">
    <p class="card-header-title"><i class="fa fa-gift"></i>&nbsp;<t>domain.equity</t></p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr><td><a class="nav-itme" href="#">Common Stock</a>
        <tr><td><a class="nav-itme" href="#">Retained Earnings</a>
      </table>
    </div>
  </div>
</div>
<br />

<div class="card">
  <header class="card-header">
    <p class="card-header-title"><i class="fa fa-thumbs-o-up"></i>&nbsp;<t>domain.revenues</t></p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr><td><a class="nav-itme" href="#">Sales</a>
      </table>
    </div>
  </div>
</div>
<br />

<div class="card">
  <header class="card-header">
    <p class="card-header-title"><i class="fa fa-fire"></i>&nbsp;<t>domain.expenses</t></p>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr><td><a class="nav-itme" href="#">Travel Expenses</a>
      </table>
    </div>
  </div>
</div>
<br />

<div class="section">
  <a href="../edit-chart-of-accounts/index.html" class="button is-primary is-wide">
    <i class="fa fa-check"></i>&nbsp;
    <t>ui.form.finish_editing</t>
  </a>
</div>

<div class="box">
  <t>app.save_this_chart_as_the_default_chart</t>
  <hr />
  <a href="../edit-chart-of-accounts/index.html" class="button is-primary is-wide">
    <i class="fa fa-copy"></i>&nbsp;
    <t>ui.form.save</t>
  </a>
</div>

    </div>
  </div>
</main>

