.overlay-shadow {
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px - 60px);
  width: 100%;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition-duration: 500ms;

  &.is-visible {
    opacity: 0.3;
    visibility: visible;
  }
}
