.error-tooltip {
  color: $bright-pink;
  border-radius: 5px;
  border: solid 1px $bright-pink;
  padding: 2px 7px;
  margin-bottom: 8px;
  background-color: white;
  visibility: hidden;

  z-index: 10; /* to make this above trigger of select box of bulma */

  .is-error:not(.pure) & {
    visibility: visible;
  }

  &::before {
    content: '';
    position: absolute;
    right: 10px;
    bottom: -5px;
    width: 0;
    height: 0;
    border-width: 5px 5px 0 5px;
    border-color: $bright-pink transparent;
    border-style: solid;
  }

  &::after {
    content: '';
    position: absolute;
    right: 11px;
    bottom: -4px;
    width: 0;
    height: 0;
    border-width: 4px 4px 0 4px;
    border-color: white transparent;
    border-style: solid;
  }
}
