.app-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: solid 1px #999;

  .level-item {
    padding-top: 2px;
    height: 60px;
    max-width: 32%;
  }

  .is-selected {
    background-color: rgba(238, 238, 238, 0.8);
  }

  .tab-icon {
    padding-bottom: 6px;
  }
}
