<header class="app-header-wrapper">
  {% include src + '/common/atoms/brand-stripe.njk' %}
  <nav class="nav app-header is-model-observer">
    <div class="nav-left">
      <p class="nav-item control">
        <span class="select app-header-select">
          <select class="journal-document-select"></select>
        </span>
      </p>
    </div>
    <div class="nav-right">
      <p class="nav-item app-menu-btn">
        <span class="icon">
          <i class="fa fa-reorder"></i>
        </span>
      </p>
    </div>
  </nav>
  {% include src + '/common/molecules/app-menu-dropdown.njk' %}
</header>
