.app-header-wrapper {
  position: fixed;
  padding-top: 8px;
  width: 100%;
  z-index: 2;
}

.app-header {
  background-color: #eee;
  border-bottom: solid 1px #999;

  & .control {
    width: calc(100vw - 50px);
  }

  & .select,
  & select {
    width: 100%;
  }

  .app-menu-btn {
    cursor: pointer;
  }
}
