.confirm-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
  transform: translate(0, 10);
  opacity: 0;
  visibility: hidden;

  &.is-visible {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
  }
}
