---
js: pages/journal/index.js
css: pages/journal/index.css
body:
  class: journal-page
---
<button class="add-entry-button button is-primary is-large is-wide">
  <span class="icon"><i class="fa fa-plus-square-o"></i></span>
  <span class="t-text">app.journal.add_an_entry</span>
</button>

<hr />

<h2 class="subtitle t-text">domain.journal</h2>
<h1 class="title">May 2016</h1>

<div class="columns js-trade-list is-model-observer"></div>

<br />

<div class="new-item-card-wrapper">
  <div class="card new-item-card"></div>
</div>
