---
js: pages/journal/index.js
---
<button class="button is-primary is-large is-wide">
  <span class="icon"><i class="fa fa-plus-square-o"></i></span>
  <span class="t-text">app.journal.add_an_entry</span>
</button>

<hr />

<h2 class="subtitle t-text">domain.journal</h2>
<h1 class="title">May 2016</h1>

<div class="columns">
  <div class="column">
    {% include src + '/pages/journal/new-item-card.njk' %}
  </div>
</div>

<div class="columns js-trade-list is-model-observer">
  <div class="column">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          No.16
        </p>
        <div class="card-header-icon">
          <span class=""><strong>2016/04/05</strong></span>
        </div>
        <div class="card-header-icon">
          <a class="button is-primary is-outlined t-text" href="">ui.form.edit</a>
        </div>
      </div>
      <div class="card-content">
        <div class="content">
          <p>期首
          <table>
            <tr>
              <th><t>domain.debit</t>
              <th>
            <tr>
              <td>普通預金
              <td>¥3,128,097
            <tr>
              <td>売掛金
              <td>¥1,069,200
            <tr>
              <th><t>domain.credit</t>
              <th>
            <tr>
              <td>元入金
              <td>¥4,197,297
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          No.16
        </p>
        <div class="card-header-icon">
          <span class=""><strong>2016/04/05</strong></span>
        </div>
        <div class="card-header-icon">
          <a class="button is-primary is-outlined" href="">EDIT</a>
        </div>
      </div>
      <div class="card-content">
        <div class="content">
          <p>期首
          <table>
            <tr>
              <th>DEBIT
              <th>
            <tr>
              <td>普通預金
              <td>¥3,128,097
            <tr>
              <td>売掛金
              <td>¥1,069,200
            <tr>
              <th>CREDIT
              <th>
            <tr>
              <td>元入金
              <td>¥4,197,297
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          No.16
        </p>
        <div class="card-header-icon">
          <span class=""><strong>2016/04/05</strong></span>
        </div>
        <div class="card-header-icon">
          <a class="button is-primary is-outlined" href="">EDIT</a>
        </div>
      </div>
      <div class="card-content">
        <div class="content">
          <p>期首
          <table>
            <tr>
              <th>DEBIT
              <th>
            <tr>
              <td>普通預金
              <td>¥3,128,097
            <tr>
              <td>売掛金
              <td>¥1,069,200
            <tr>
              <th>CREDIT
              <th>
            <tr>
              <td>元入金
              <td>¥4,197,297
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
