---
js: pages/journal/index.js
css: pages/journal/index.css
body:
  class: journal-page
---
<button class="add-entry-button button is-primary is-large is-wide">
  <span class="icon"><i class="fa fa-plus-square-o"></i></span>
  <span class="t-text">app.journal.add_an_entry</span>
</button>

<div class="trade-month-list is-model-observer"></div>
<div class="no-trade-placeholder is-model-observer section" style="display: none;">
  <div class="content">
    <p><t>app.onboarding.lets_start</t></p>
  </div>
</div>

<br />

<div class="overlay-shadow modal-overlay-shadow"></div>
<div class="edit-item-card-wrapper">
  <div class="card edit-item-card is-model-observer"></div>
</div>

<div class="overlay-shadow confirm-modal-overlay-shadow"></div>
<div class="confirm-modal">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <p class="confirm-modal__message"></p>
      </div>
    </div>
    <div class="card-footer">
      <a class="card-footer-item confirm-modal__cancel"><t>ui.form.cancel</t></a>
      <a class="card-footer-item confirm-modal__ok"><t>ui.form.delete</t></a>
    </div>
  </div>
</div>
