.new-item-card-wrapper {
  position: fixed;
  left: 0;
  top: 60px;
  height: calc(100vh - 60px - 56.5px);
  width: 100%;
  transition-duration: 500ms;
  transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
  overflow: scroll;

  padding: 10px;

  &.is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.new-item-card {
}
