<div class="card js-new-item-card">
  <div class="card-header">
    <p class="card-header-title">
      No.16
    </p>
    <div class="card-header-icon">
      <p class="control">
        <input
          class="input js-pickadate new-item-card__date"
          value=""
        />
      </p>
    </div>
  </div>
  <div class="card-content">
    <div class="content">
      <p class="control"><input class="input new-item-card__desc" value=""></p>
      <table>
        <tr>
          <th><t>domain.debit</t>
          <th>
        <tr class="new-item-card__debit">
          <td>
            <p class="control"><input class="input new-item-card__debit-type" value="普通預金"/>
          <td>
            <p class="control"><input class="input js-number-input new-item-card__debit-amount" value="3128097"/>
        <tr class="new-item-card__debit">
          <td>
            <p class="control"><input class="input new-item-card__debit-type" value="売掛金"/>
          <td>
            <p class="control"><input class="input js-number-input new-item-card__debit-amount" value="1069200"/>
        <tr>
          <th><t>domain.credit</t>
          <th>
        <tr class="new-item-card__credit">
          <td>
            <p class="control"><input class="input new-item-card__credit-type" value="元入金"/>
          <td>
            <p class="control"><input class="input js-number-input new-item-card__credit-amount" value="4197297"/>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <p class="card-footer-item">
      <a class="button is-danger t-text" href="#">ui.form.cancel</a>
    </p>
    <p class="card-footer-item">
      <button class="button is-primary t-text new-item-save-button">ui.form.save</button>
    </p>
  </div>
</div>
