---
js: pages/bs/index.js
css: pages/bs/index.js
main:
  class: bs-page is-model-observer
---

<div class="columns">
  <div class="column date-panel">
    <h2 class="subtitle t-text">domain.balancesheet</h2>
    <h1 class="title"></h1>
    <button class="last-date button is-small is-info is-outlined" style="display: none"><t>app.bs.show_bs_last_date</t></button>
    <button class="first-date button is-small is-info is-outlined" style="display: none"><t>app.bs.show_bs_first_date</t></button>
  </div>
  <div class="column">
    <div class="asset-card"></div>
  </div>
  <div class="column">
    <div class="liability-card"></div>
  </div>
  <div class="column">
    <div class="equity-card"></div>
    <br />
    <div class="liability-equity-total-card"></div>
  </div>
</div>

<hr />

<div class="columns">
  <div class="column date-panel">
    <h2 class="subtitle t-text">domain.incomestatement</h2>
    <h1 class="title"></h1>
  </div>
  <div class="column">
    <div class="revenue-card"></div>
  </div>
  <div class="column">
    <div class="expense-card"></div>
  </div>
  <div class="column">
    <div class="income-card"></div>
  </div>
</div>

<div class="overlay-shadow subledger-modal-overlay-shadow"></div>

<div class="subledger-modal"></div>
