---
js: pages/bs/index.js
css: pages/bs/index.js
body:
  class: bs-page
---
<h2 class="subtitle t-text">domain.balancesheet</h1>
<h1 class="title">2016/04/05</h1>

<div class="columns">
  <div class="column">
    <div class="asset-card"></div>
  </div>
  <div class="column">
    <div class="liability-card"></div>
  </div>
  <div class="column">
    <div class="equity-card"></div>
  </div>
  <div class="column">
    <div class="revenue-card"></div>
  </div>
  <div class="column">
    <div class="expense-card"></div>
  </div>
</div>
