---
js: pages/bs/index.js
css: pages/bs/index.js
main:
  class: bs-page is-model-observer
---
<h2 class="subtitle t-text">domain.balancesheet</h2>
<h1 class="title">2016/04/05</h1>

<div class="columns">
  <div class="column">
    <div class="asset-card"></div>
  </div>
  <div class="column">
    <div class="liability-card"></div>
  </div>
  <div class="column">
    <div class="equity-card"></div>
  </div>
  <div class="column">
    <div class="liability-equity-total-card"></div>
  </div>
</div>

<hr />
<h2 class="subtitle t-text">domain.incomestatement</h2>
<h1 class="title">2016/04/05</h1>

<div class="columns">
  <div class="column">
    <div class="revenue-card"></div>
  </div>
  <div class="column">
    <div class="expense-card"></div>
  </div>
  <div class="column">
    <div class="income-card"></div>
  </div>
</div>
