---
css: pages/settings/index.css
---
<h2 class="title t-text">app.title</h2>

{% include src + '/pages/settings/title-area.njk' %}

<hr />

{% include src + '/pages/settings/misc-settings.njk' %}

<hr />

<h2 class="title t-text">domain.chart_of_accounts</h2>

<a href="../modify-chart-of-accounts.html" class="button is-primary">Edit</a>

<div class="menu">
  <ul class="menu-list">
    <li>
      <a class="nav-item t-text" href="#">domain.assets</a>
      <ul class="menu-list">
        <li><a class="nav-itme" href="#">Cash</a>
        <li><a class="nav-itme" href="#">Accounts Payable</a>
        <li><a class="nav-itme" href="#">Land</a>
        <li><a class="nav-itme" href="#">Equipment</a>
      </ul>
    </li>
    <li>
      <a class="nav-item t-text" href="#">domain.liabilities</a>
      <ul class="menu-list">
        <li><a class="nav-itme" href="#">Loans Payable</a>
        <li><a class="nav-itme" href="#">Accounts Payable</a>
        <li><a class="nav-itme" href="#">Bonds Payable</a>
      </ul>
    </li>
    <li>
      <a class="nav-item t-text" href="#">domain.equity</a>
      <ul class="menu-list">
        <li><a class="nav-itme" href="#">Common Stock</a>
        <li><a class="nav-itme" href="#">Retained Earnings</a>
      </ul>
    </li>
    <li>
      <a class="nav-item t-text" href="#">domain.revenues</a>
      <ul class="menu-list">
        <li><a class="nav-itme" href="#">Sales</a>
      </ul>
    </li>
    <li>
      <a class="nav-item t-text" href="#">domain.expenses</a>
      <ul class="menu-list">
        <li><a class="nav-itme" href="#">Travel Expenses</a>
      </ul>
    </li>
  </ul>
</div>
