---
css: pages/settings/index.css
js: pages/settings/index.js
---
{% include src + '/common/molecules/input-modal.njk' %}

<p class="t-text"></p>

<h2 class="title t-text">app.title</h2>

{% include src + '/pages/settings/title-area.njk' %}

<hr />

{% include src + '/pages/settings/misc-settings.njk' %}

<hr />

<br />

<h2 class="title t-text">domain.chart_of_accounts</h2>

<div class="short-section">
  <a href="../edit-chart-of-accounts/index.html" class="button is-primary is-wide t-text">app.edit_chart_of_accounts</a>
</div>

<br />

{% from src + '/pages/settings/chart-card.njk' import chartCard %}

{{ chartCard('ASSET', 'diamond', '<t>domain.assets</t>') }}<br />
{{ chartCard('LIABILITY', 'bank', '<t>domain.liabilities</t>') }}<br />
{{ chartCard('EQUITY', 'gift', '<t>domain.equity</t>') }}<br />
{{ chartCard('REVENUE', 'thumbs-o-up', '<t>domain.revenues</t>') }}<br />
{{ chartCard('EXPENSE', 'fire', '<t>domain.expenses</t>') }}<br />

<br />
