<div class="misc-settings is-model-observer">
  <div class="misc-settings__row">
    <div class="misc-settings__row__left t-text">domain.currency</div>
    <div class="field misc-settings__currency misc-settings__row__right">
    $ - JPY
    </div>
  </div>
  <div class="misc-settings__row">
    <div class="misc-settings__row__left t-text">domain.comma_period_style</div>
    <div class="field misc-settings__comma-style misc-settings__row__right">
      <p class="control">
        <span class="select">
          <select>
            <option value="comma-period">1,000</option>
            <option value="period-comma">1.000</option>
          </select>
        </span>
      </p>
    </div>
  </div>
  <div class="misc-settings__row">
    <div class="misc-settings__row__left t-text">domain.journal.start_date</div>
    <div class="field misc-settings__start-date misc-settings__row__right">
      <p class="control">
        <input class="input" type="text" value="2017-01-01" />
      </p>
    </div>
  </div>
  <div class="misc-settings__row">
    <div class="misc-settings__row__left t-text">domain.journal.end_date</div>
    <div class="field misc-settings__end-date misc-settings__row__right">
      <p class="control">
        <input class="input" type="text" value="2017-12-31" />
      </p>
    </div>
  </div>
</div>
