<div class="settings-title-area is-model-observer">
  <span class="journal-title"></span>
  <button class="button is-primary t-text opens-input-modal">ui.form.edit</button>
  {% include src + '/common/molecules/input-modal.njk' %}
</div>
