.subledger-modal {
  position: fixed;
  left: 10px;
  top: 70px;
  height: calc(100vh - 60px - 60px - 10px - 10px);
  width: calc(100% - 20px);
  transition-duration: 500ms;
  transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
  overflow: scroll;
  padding: 10px; }
  .subledger-modal .card {
    height: 100%; }
    .subledger-modal .card .card-content {
      height: calc(100% - 49px);
      overflow-y: scroll; }
  .subledger-modal.is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }

.bs-page > .section {
  padding-top: 2rem; }
