/* customize bulma */
.edit-item-card-wrapper {
  position: fixed;
  left: 0;
  top: 60px;
  height: calc(100vh - 60px - 56.5px);
  width: 100%;
  transition-duration: 500ms;
  transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
  overflow: scroll;
  padding: 10px; }
  .edit-item-card-wrapper.is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }

.edit-item-card__debit-total, .edit-item-card__credit-total {
  font-size: 20px; }

.edit-item-card__debit-total-diff, .edit-item-card__credit-total-diff {
  font-size: 16px;
  color: #e0407b; }

.confirm-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
  transform: translate(0, 20px);
  opacity: 0;
  visibility: hidden; }
  .confirm-modal > .card {
    min-width: 250px; }
  .confirm-modal.is-visible {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible; }
