/* hide untranslated contents */
t, .t-text, .t-attr, .t-hidden {
  opacity: 0;
  transition-duration: 500ms;
}

/* hide untranslated contents */
.t-text-done, .t-attr-done, .t-hidden-done {
  opacity: 1;
  transition-duration: 500ms;
}
