---
layout: simple-layout
---
<header class="app-header-wrapper">
  {% include src + '/common/atoms/brand-stripe.njk' %}
  <nav class="nav app-header">
    <div class="nav-center">
      <div class="nav-item">
        <h1><strong class="t-text">app.menu.app_settings</strong></h1>
      </div>
    </div>
  </nav>
</header>

<main class="l-main">
  <div class="contents">
    <a href="{{ basepath }}/pages/new/index.html">新しい仕訳帳を作る</a>
  </div>
</main>
