---
layout: simple-layout
js: pages/app-settings/index.js
---
<header class="app-header-wrapper">
  {% include src + '/common/atoms/brand-stripe.njk' %}
  <nav class="nav app-header">
    <div class="nav-left">
      <div class="nav-item is-visible-when-user-has-document" style="visibility: hidden;">
        <a href="../document-settings/index.html">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
    <div class="nav-center">
      <div class="nav-item">
        <h1><strong class="t-text">app.menu.app_settings</strong></h1>
      </div>
    </div>
    <div class="nav-right">
      <p class="nav-item app-menu-btn">
        <span class="icon">
          <i class="fa fa-reorder"></i>
        </span>
      </p>
    </div>
  </nav>
  {% include src + '/common/molecules/app-menu-dropdown.njk' %}
</header>

<main class="l-main">
  <div class="section">
    <div class="box">
      <h2 class="title t-text">app.journal.create_new</h2>
      <p class="t-text">app.lets_create_new_journal</p>
      <hr />
      <a class="button is-primary t-text is-wide" href="../new/index.html">ui.form.create</a>
    </div>

    <hr />

    <h2 class="title t-text">app.title.language</h2>

    <div class="field has-addons js-language-switch-group">
      <p class="control">
        <button class="button t-text" lang="">
          app.language.auto
        </button>
      </p>
      <p class="control">
        <button class="button" href="#" lang="en">
          English
        </button>
      </p>
      <p class="control">
        <button class="button" href="#" lang="ja">
          日本語
        </button>
      </p>
    </div>

    <hr />

    <h2 class="title t-text">domain.chart_of_accounts</h2>

    <p><t>app.this_chart_of_accounts_is_used_as_default</t></p>

    <div class="short-section">
      <a class="button is-primary is-wide t-text" href="../edit-chart-of-accounts/index.html">app.edit_chart_of_accounts</a>
    </div>
    <br />

    {% from src + '/pages/app-settings/chart-card.njk' import chartCard %}

    {{ chartCard('ASSET', 'diamond', '<t>domain.asset</t>') }} <br />
    {{ chartCard('LIABILITY', 'bank', '<t>domain.asset</t>') }} <br />
    {{ chartCard('EQUITY', 'gift', '<t>domain.asset</t>') }} <br />
    {{ chartCard('REVENUE', 'thumbs-o-up', '<t>domain.asset</t>') }} <br />
    {{ chartCard('EXPENSE', 'fire', '<t>domain.asset</t>') }} <br />

  </div>
</main>
