<h2 class="subtitle">Balance Sheet</h1>
<h1 class="title">2016/04/05</h1>

<div class="columns">
<div class="column">

<div class="card">
  <header class="card-header">
    <div class="card-header-title">
      ASSET
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr>
          <td>普通預金
          <td>¥3,128,097
        </tr>
        <tr>
          <td>売掛金
          <td>¥1,069,200
        </tr>
        <tr>
          <td>商品在庫
          <td>¥2,000,000
        </tr>
        <tr>
          <th>Total
          <th>¥6,197,297
        </tr>
      </table>
    </div>
  </div>
</div>

</div>
<div class="column">

<div class="card">
  <header class="card-header">
    <div class="card-header-title">
      LIABILITY
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr>
          <td>買掛金
          <td>¥2,000,000
        </tr>
        <tr>
          <th>Total
          <th>¥2,000,000
        </tr>
      </table>
    </div>
  </div>
</div>

</div>
<div class="column">

<div class="card">
  <header class="card-header">
    <div class="card-header-title">
      EQUITY
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr>
          <td>元入金
          <td>¥4,197,297
        </tr>
        <tr>
          <td>Retained Earnings
          <td>¥0
        </tr>
        <tr>
          <th>Total
          <th>¥4,197,297
        </tr>
      </table>
    </div>
  </div>
</div>

</div>
<div class="column">

<div class="card">
  <header class="card-header">
    <div class="card-header-title">
      LIABILITY + EQUITY
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      <table>
        <tr>
          <th>Total
          <th>¥6,197,297
        </tr>
      </table>
    </div>
  </div>
</div>

</div>
</div>
