m--
layout: simple-layout
css: pages/new/index.css
---
<header class="app-header-wrapper">
  {% include src + '/common/atoms/brand-stripe.njk' %}
  <nav class="nav app-header">
    <div class="nav-left">
      <div class="nav-item">
        <a href="../settings/index.html">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
    <div class="nav-center">
      <div class="nav-item">
        <h1><strong class="t-text">app.journal.create_new</strong></h1>
      </div>
    </div>
    <div class="nav-right">
      <p class="nav-item app-menu-btn">
        <span class="icon">
          <i class="fa fa-reorder"></i>
        </span>
      </p>
    </div>
  </nav>
  {% include src + '/common/molecules/app-menu-dropdown.njk' %}
</header>

<main class="l-main">
  <div class="section">
    <form class="js-form js-start-and-end-date-form js-create-journal-form">
      <h2 class="title t-text">app.title</h2>

      <div class="field js-field-wrapper pure">
        <p class="control">
          <input
            class="input t-attr js-field"
            name="title"
            type="text"
            data-validate="required"
            placeholder="t:domain.journal.title"
          />
        </p>
        <div
          class="popper error-tooltip"
          data-popper-ref=".input"
          data-popper-placement="top-end"
          style="display: none;"
        ></div>
      </div>

      <hr />

      {% include src + '/pages/new/misc-settings.njk' %}

      <hr />

      <div class="columns is-mobile">
        <div class="column">
          <button class="button is-danger is-wide t-text create-journal-form__cancel-button">ui.form.cancel</button>
        </div>
        <div class="column">
          <button class="button is-primary is-wide t-text disable-on-error create-journal-form__create-button">ui.form.create</button>
        </div>
      </div>
    </form>
  </div>
</main>
