---
layout: simple-layout
---
<header class="app-header-wrapper">
  {% include src + '/common/atoms/brand-stripe.njk' %}
  <nav class="nav app-header">
    <div class="nav-left">
      <div class="nav-item">
        <a href="../settings/index.html">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
    <div class="nav-center">
      <div class="nav-item">
        <h1><strong class="t-text">app.journal.create_new</strong></h1>
      </div>
    </div>
    <div class="nav-right">
      <p class="nav-item app-menu-btn">
        <span class="icon">
          <i class="fa fa-reorder"></i>
        </span>
      </p>
    </div>
  </nav>
  {% include src + '/common/molecules/app-menu-dropdown.njk' %}
</header>

<main class="l-main">
  <div class="section">
    <h2 class="title">Title</h2>

    <div class="field">
      <p class="control">
        <input class="input" type="text" placeholder="Journal Title"/>
      </p>
    </div>

    <hr />
  </div>
</main>
