<div class="misc-settings">
  <div class="misc-settings__row">
    <div class="misc-settings__row__left t-text">domain.currency</div>
    <div class="field misc-settings__row__right">
      <p class="control">
        <span class="select">
          <select
            class="js-currency-select js-field"
            data-validate="required"
          >
            <option value=""></option>
          </select>
        </span>
      </p>
    </div>
  </div>
  <div class="misc-settings__row">
    <div class="misc-settings__row__left t-text">domain.comma_period_style</div>
    <div class="field misc-settings__row__right">
      <p class="control">
        <span class="select">
          <select
            class="js-field"
            data-validate="required"
          >
            <option value="comma-period">1,000.00</option>
            <option value="period-comma">1.000,00</option>
          </select>
        </span>
      </p>
    </div>
  </div>
  <div class="misc-settings__row">
    <div class="misc-settings__row__left t-text">domain.journal.start_date</div>
    <div class="field misc-settings__row__right">
      <p class="control">
        <input
          class="input js-pickadate t-attr js-field"
          data-validate="required"
          type="text"
          value=""
          placeholder="t:ui.form.select_date"
        />
      </p>
    </div>
  </div>
  <div class="misc-settings__row">
    <div class="misc-settings__row__left t-text">domain.journal.end_date</div>
    <div class="field misc-settings__row__right">
      <p class="control">
        <input
          class="input js-pickadate t-attr js-field"
          data-validate="required"
          type="text"
          value=""
          placeholder="t:ui.form.select_date"
        />
      </p>
    </div>
  </div>
</div>
