<button class="button is-primary is-large">
  <span class="icon"><i class="fa fa-plus-square-o"></i></span>
  <span>Add an entry</span>
</button>

<hr />

<h2 class="subtitle">Journal</h2>
<h1 class="title">May 2016</h1>

<div class="columns">

  <div class="column">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          No.16
        </p>
        <div class="card-header-icon">
          <p class="control">
            <input class="input" value="2016/04/05">
          </p>
        </div>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="control"><input class="input" value="期首"></p>
          <table>
            <tr>
              <th>DEBIT
              <th>
            <tr>
              <td>
                <p class="control"><input class="input" value="普通預金"/>
              <td>
                <p class="control"><input class="input" value="¥3,128,097"/>
            <tr>
              <td>
                <p class="control"><input class="input" value="売掛金"/>
              <td>
                <p class="control"><input class="input" value="¥1,069,200"/>
            <tr>
              <th>CREDIT
              <th>
            <tr>
              <td>
                <p class="control"><input class="input" value="元入金"/>
              <td>
                <p class="control"><input class="input" value="¥4,197,297"/>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <p class="card-footer-item">
          <a class="button is-danger" href="#">DELETE</a>
        </p>
        <p class="card-footer-item">
          <a class="button is-primary" href="#">OK</a>
        </p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          No.16
        </p>
        <div class="card-header-icon">
          <span class=""><strong>2016/04/05</strong></span>
        </div>
        <div class="card-header-icon">
          <a class="button is-primary is-outlined" href="">EDIT</a>
        </div>
      </div>
      <div class="card-content">
        <div class="content">
          <p>期首
          <table>
            <tr>
              <th>DEBIT
              <th>
            <tr>
              <td>普通預金
              <td>¥3,128,097
            <tr>
              <td>売掛金
              <td>¥1,069,200
            <tr>
              <th>CREDIT
              <th>
            <tr>
              <td>元入金
              <td>¥4,197,297
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          No.16
        </p>
        <div class="card-header-icon">
          <span class=""><strong>2016/04/05</strong></span>
        </div>
        <div class="card-header-icon">
          <a class="button is-primary is-outlined" href="">EDIT</a>
        </div>
      </div>
      <div class="card-content">
        <div class="content">
          <p>期首
          <table>
            <tr>
              <th>DEBIT
              <th>
            <tr>
              <td>普通預金
              <td>¥3,128,097
            <tr>
              <td>売掛金
              <td>¥1,069,200
            <tr>
              <th>CREDIT
              <th>
            <tr>
              <td>元入金
              <td>¥4,197,297
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          No.16
        </p>
        <div class="card-header-icon">
          <span class=""><strong>2016/04/05</strong></span>
        </div>
        <div class="card-header-icon">
          <a class="button is-primary is-outlined" href="">EDIT</a>
        </div>
      </div>
      <div class="card-content">
        <div class="content">
          <p>期首
          <table>
            <tr>
              <th>DEBIT
              <th>
            <tr>
              <td>普通預金
              <td>¥3,128,097
            <tr>
              <td>売掛金
              <td>¥1,069,200
            <tr>
              <th>CREDIT
              <th>
            <tr>
              <td>元入金
              <td>¥4,197,297
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
