<footer class="app-footer">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered {% if file.relative.indexOf('bs/index.html') !== -1 %}is-selected{% endif %}">
      <div>
        <p class="heading t-text">domain.balancesheet</p>
        <p class="title">
          <a href="{{ basepath }}/pages/bs/index.html">
            <span class="icon"><i class="fa fa-columns"></i></span><br/>
          </a>
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered {% if file.relative.indexOf('journal/index.html') !== -1 %}is-selected{% endif %}">
      <div>
        <p class="heading t-text">domain.journal</p>
        <p class="title">
          <a href="{{ basepath }}/pages/journal/index.html">
            <span class="icon"><i class="fa fa-plus-square-o"></i></span>
          </a>
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered {% if file.relative.indexOf('settings/index.html') !== -1 %}is-selected{% endif %}">
      <div>
        <p class="heading t-text">app.settings</p>
        <p class="title">
          <a href="{{ basepath }}/pages/settings/index.html">
            <span class="icon"><i class="fa fa-cog"></i></span><br/>
          </a>
        </p>
      </div>
    </div>
  </nav>
</footer>
