<footer class="app-footer">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Balance Sheet</p>
        <p class="title">
          <a href="{{ basepath }}/bs/index.html">
            <span class="icon"><i class="fa fa-columns"></i></span><br/>
          </a>
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Journal</p>
        <p class="title">
          <a href="{{ basepath }}/journal/index.html">
            <span class="icon"><i class="fa fa-plus-square-o"></i></span>
          </a>
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Settings</p>
        <p class="title">
          <a href="{{ basepath }}/settings/index.html">
            <span class="icon"><i class="fa fa-cog"></i></span><br/>
          </a>
        </p>
      </div>
    </div>
  </nav>
</footer>
