.app-header-wrapper {
  position: fixed;
  width: 100%;
}

.app-header {
  background-color: #eee;
  border-bottom: solid 1px #999;
}

.app-header .control {
  width: 90%;
}

.app-header .select,
.app-header select {
  width: 100%;
}
