.app-header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.app-header {
  background-color: #eee;
  border-bottom: solid 1px #999;
}

.app-header .control {
  width: calc(100vw - 50px);
}

.app-header .select,
.app-header select {
  width: 100%;
}
