<nav class="nav app-header">
  <div class="nav-left">
  <p class="nav-item control">
    <span class="select app-header-select">
      <select>
        <option>Journal of kt3k.com 2016</option>
        <option></option>
      </select>
    </span>
  </p>
  </div>
</nav>
