<header class="app-header-wrapper">
  {% include src + '/common/brand-stripe.njk' %}
  <nav class="nav app-header">
    <div class="nav-left">
      <p class="nav-item control">
        <span class="select app-header-select">
          <select>
            <option>Journal of kt3k.com 2016</option>
            <option>Journal of kt3k.com 2017</option>
          </select>
        </span>
      </p>
    </div>
  </nav>
</header>
