@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "vars";
$primary: $lime-green;
$danger: $bright-pink;
@import "../../node_modules/bulma/bulma";

@import "../../node_modules/pickadate/lib/themes/default";
@import "../../node_modules/pickadate/lib/themes/default.date";

@import "atoms/index";
@import "organisms/index";
@import "layout";
@import "quarks/index";
@import "atoms/brand-stripe";
@import "molecules/app-menu-dropdown";

body {
  background: $white;
}

html {
  background: $very-light-gray;
}
