<!doctype html>
<html>
  <head>
    <title>{{ file.fm.title }}</title>
    <link rel="stylesheet" href="{{ basepath }}/bulma.css" />
  </head>
  <body>
    <header></header>
    <main>
      {{ file.content | safe }}
    </main>
    <footer></footer>
  </body>
</html>
