<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ file.fm.title }}</title>
    <link rel="stylesheet" href="{{ basepath }}/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="{{ basepath }}/common/index.css" />
    {% if file.fm.css %}
    <link rel="stylesheet" href="{{ basepath }}/{{ file.fm.css }}" />
    {% endif %}
  </head>
  <body class="js-model-hub">
    {% block body %}{% endblock %}
    <script src="{{ basepath }}/infrastructure/index.js"></script>
    <script src="{{ basepath }}/common/index.js"></script>
    {% if process.env.NODE_ENV !== 'production' %}
    <script src="{{ basepath }}/pages/debug/index.js"></script>
    {% endif %}
  </body>
</html>
