{% extends src + '/common/layout.njk' %}

{% block body %}
{% include src + '/common/organisms/header.njk' %}
<main class="l-main{% if file.fm.main and file.fm.main.class %} {{ file.fm.main.class }}{% endif %}">
  <div class="section">
    <div class="container">
      {{ file.contents | safe }}
    </div>
  </div>
</main>
{% include src + '/common/organisms/footer.njk' %}
{% endblock %}
